<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Flint Lightning Payment</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lightning</string>
				<string>lnurlp</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Flint uses the camera to detect Bitcoin payment request QR codes.</string>
	<key>FlintBreezAPIKey</key>
	<string>$(FLINT_BREEZ_API_KEY)</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
